<nav class="pagination" role="navigation">
    <ul>
        {% if article.next_article %}
        <a rel="prev" class="newer-posts" href="{{ SITEURL }}/{{ article.next_article.url}}" title="Read: {{ article.next_article.title }}">
            Read the next article
        </a>
        {% endif %}
        {% if article.prev_article %}
        <a rel="next" class="older-posts" href="{{ SITEURL }}/{{ article.prev_article.url}}" title="Read: {{ article.prev_article.title }}">
            Read the last article
        </a>
        {% endif %}
    </ul>
</nav>
